* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.gameBoard {
    background-color: black;
    width: 540px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

div.hidden {
    background-color: none;
    width: 540px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

div.collider {
    background-color: none;
    width: 540px;
    height: 540px;
}

div.gameTile {
    background-color: whitesmoke;
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-weight: bold;
}

div.mine {
    background-color: orange;
}

div.zero {
    color: whitesmoke;
}

div.one {
    color: mediumblue;
}

div.two {
    color: green;
}

div.three {
    color: red;
}

div.four {
    color: navy;
}

div.five {
    color: maroon;
}

div.six {
    color: turquoise;
}

div.seven {
    color: black;
}

div.eight {
    color: gray;
}

button.select {
    background-color: lightgrey;
    color: lightgrey;
    width: 27px;
    height: 27px;
    margin: 0px;
    padding: 0px;
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    position: initial;
}

button.flagged {
    background-color: red;
    color: red;
    width: 27px;
    height: 27px;
    margin: 0px;
    padding: 0px;
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    text-align: center;
    position: initial;
}

div.blank {
    background-color: none;
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

div.timer {
    width: 100px;
    margin: 0px;
    position: absolute;
}

button.flagCounterOff {
    width: 100px;
    margin-left: 440px;
    margin-bottom: 5px;
    background-color: lightgrey;
}

button.flagCounterOn {
    width: 100px;
    margin-left: 440px;
    margin-bottom: 5px;
    background-color: red;
}

button.begin {
    position: absolute;
    width: 100px;
    margin-left: 200px;
    background-color: lightgrey;
}

div.center {
    width: 69%;
    margin-left: auto;
}

h1.title {
    text-align: center;
}